.wrapper {
  position: absolute;
  background: #1A1A1AB2;

  width: 1920px;
  height: 108px;
  left: 0px;
  top: 1037px;
}


.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;

  position: absolute;
  width: 121px;
  height: 30px;
  left: 296px;
  top: 39px;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px 6px;
  gap: 8px;
  width: 292px;
  height: 43px;
  border: 2px solid #1F1F1F;
  border-radius: 6px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: 'TT Travels';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 115%;
  color: #666666
}

.mail {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 420px;
  height: 43px;
  right: 296px;
  top: calc(50% - 43px/2 + 0.5px);

  &__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 10px;
    gap: 8px;

    width: 112px;
    height: 43px;

    border-radius: 4px;

    flex: none;
    order: 1;
    flex-grow: 0;

    &__text {
      width: 80px;
      height: 25px;
      padding: 8px 0;

      font-family: 'Manrope';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;

      color: #666666;

      &:hover {
        background: #3D3D3D;
        transition: background-color 0.6s;
      }
    }
  }
  
}