@use '@/shared/styles/mixins/blur.scss';

._ {
    padding: 32px 0;
    @include blur.blur;
}

.column {
    display: flex;
    flex-direction: column;
    color: var(--color-dove-gray);
    font-size: 16px;
    line-height: 18px;
    row-gap: 8px;
}