:root {
    --color-dusty-gray: #999999;
    --color-dove-gray: #666666;
    --color-cod-gray: #141414;
    --color-log-cabin: #090B09;
    --color-gallery: #EFEFEF;
    --color-apple: #369636;
    --color-alto: #DBDBDB;
    --color-green: #00CC0099;
    --color-mine-shaft-ligther: #3D3D3D;
    --color-mine-shaft: #292929;
    --color-mine-shaft-darken: #1F1F1F;
    --color-sapphire: #324EAA;
    --color-emperor: #525252;
}