{
    "endOfLine": "lf",
    "printWidth": 120,
    "trailingComma": "es5",
    "semi": true,
    "tabWidth": 4,
    "useTabs": true,
    "jsxSingleQuote": true,
    "singleQuote": true,
    "arrowParens": "avoid",
    "importOrder": [
        "<THIRD_PARTY_MODULES",
        "^@/fsd-app/(.*)$",
        "^@/pages/(.*)$",
        "^@/widgets/(.*)$",
        "^@/features/(.*)$",
        "^@/entities(.*)$",
        "^@/shared/(.*)$",
        "^../(.*)$",
        "^./(.*)$",
        "^(.scss)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}