:root {
  --color-log-cabine: #090B09;
  --color-concrete: #F2F2F2;
  --color-cod-gray: #141414;
  --color-dove-gray: #666666;
  --color-dove-gray-translucent: #66666680;
  --color-green: #00FF00;
  --color-green-2: #00BF00;
  --color-green-3: #00CC00;
  --color-japanese-laurel: #008000;
  --color-alto: #D1D1D1;
}