
@import '../../shared/styles/vendor/modern-css-reset.scss';
@import '../../shared//styles/varaibles/colors.scss';


.wrapper {
    width: 1920px;
    background: #1A1A1AB2;

    left: 0;
    top: 0;
    position: fixed;
    top: 20px;
    z-index: 10;
}

.content {
    position: relative;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    
}

.navigation {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-flex;
    align-items: center;
    column-gap: 56px;
    padding: 25px 0;
}

.link {
    position: relative;
    font-size: 20px;
    line-height: 27px;
    color:#999999;
    color: var(--color-alto);   
}

.active {
    position: relative;
    font-size: 20px;
    line-height: 27px;
    color:#DBDBDB;
    
}

.inactive {
    position: relative;
    font-size: 20px;
    line-height: 27px;
    color:#999999;
    &:hover {
        color: #DBDBDB;
        transition:  0.6s;
    }
     
}
.logo {
    margin-left: 16px;
    left: 0px;
    top: 0px;
}

.nft_logo {
    height: 33px;
    width: 95px;
}

.logo_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 144px;
    height: 33px;
    left: 32px;
    top: calc(50% - 33px/2);
    display: flex;
    margin-left: 32px;

}

.btn_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    position: absolute;
    width: 224px;
    height: 43px;
    right: 32px;
    top: 20px;
    margin-right: 32px;

}

.signup {
    display:flex;
    width: 127px;
    height: 43px;
    align-items: center;
    justify-content: center;
    padding: 8px 16px 10px;
    gap: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #DBDBDB;
    transition: .3s ease;
    background: #369636;
    border-radius: 6px;

    &__text {
        width: 65px;
        height: 25px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: #DBDBDB;
        order: 1;
    }

    &__icon {
        display: inline-flex;
        width: 22px;
        height: 25px;
        margin-right: 13px 21px;
    }

    &:hover {
        background: linear-gradient(0deg, rgba(0, 204, 0, 0.4), rgba(0, 204, 0, 0.4)), #369636;
        transition: background-color 0.6s;
    }
}

.login {
    width: 81px;
    height: 43px;
    padding: 8px 16px 10px;
    white-space: nowrap;
    border-radius: 4px;

    &__text {
        width: 49px;
        height: 25px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #666666;
    }
    &:hover {
        background: #3D3D3D;
        transition: background-color 0.6s;
    }
}

