@use '@/shared/styles/mixins/blur.scss';
@use '@/shared/styles/mixins/breakpoints.scss';

._ {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    height: var(--size-header-height);
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: #090B09;
    font-family: var(--font-manrope);
    transition: transform .3s ease;

    @include blur.blur();
}

.logo {
    display: inline-flex;
    align-items: center;
    color: var(--color-dusty-gray);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;

    &__label {
        position: relative;
        padding-right: 32px;

        &::after {
            position: absolute;
            top: 0;
            right: 16px;
            bottom: 0;
            display: block;
            width: 1px;
            background: var(--color-mine-shaft-darken);
            content: '';
        }
    }

    &__icon {
        display: inline-flex;
        height: 1.33em;
        align-items: center;

        & svg {
            width: auto;
            height: 100%;
        }
    }
}

.navigation {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-flex;
    align-items: center;
    column-gap: 48px;
    transform: translate(-50%, -50%);
}

.link {
    color: var(--color-dusty-gray);
    transition: color .3s ease;

    &:is(:hover) {
        color: var(--color-alto);
    }
}

.profile {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.popup {
    padding: 16px;
    border-radius: 6px;
    background: var(--color-cod-gray);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
    }

    & button {
        justify-content: flex-start;
    }
}

@include breakpoints.max-width-lg {
    .navigation {
        display: none;
    }

    .logo {
        font-size: 20px;

        &__label {
            padding-right: 24px;

            &::after {
                right: 12px;
            }
        }
    }
}

.chain_info_box {
    position: relative;
    width: 100px;
    height: 62px;
    display: inline-block;
}

.chain_info_box:hover .networks_popup{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bad_network_info {
    color: red;
    font-weight: 900;
	text-align: center;
	vertical-align: center;
	padding: 7px;
	align-items: center;
	align-content: center;
	background-color: #383737;
	border-radius: 5px;
}

.bad_network_info:hover{
    
    background-color: #090B09;
    cursor: pointer;
}

.picked_network_info {
    color: white;
    font-weight: 900;
    width: 100%;
	align-items: center;
	align-content: center;
    justify-content: center;
	background-color: #383737;
	border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.picked_network_info:hover{
    
    background-color: #090B09;
    cursor: pointer;
}

.networks_popup {
    width: 100%;
    z-index: 1;
    position:absolute;
    //margin-top: 13px;
    display: none;
    //display: flex;
    padding: 16px;

    border-radius: 6px;
    background: var(--color-cod-gray);
    row-gap: 4px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
}

.popup_network_list_element {
    height: 37.5px;
	width: 50px;
	margin: auto;
    border-radius: 6px;
}

.popup_network_list_element:hover {
    background-color: #383737;
    box-shadow: 0px 0px 5px 0px #383737;
    -webkit-box-shadow: 0px 0px 5px 0px #383737;
    -moz-box-shadow: 0px 0px 5px 0px #383737;
    cursor: pointer;
}


.token_info_box {
    margin-left: 10px;
    position: relative;
    width: 70px;
    height: 30px;
    display: inline-block;
}

.token_info_box:hover .tokens_popup{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.picked_token_info {
    padding:12px;
    color: white;
    font-weight: 900;
    width: 100%;
	align-items: center;
	align-content: center;
    justify-content: center;
	//background-color: #383737;
	border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.picked_token_info:hover{
    
    background-color: #090B09;
    cursor: pointer;
}

.tokens_popup {
    width: 100%;
    z-index: 1;
    position:absolute;
    //margin-top: 13px;
    display: none;
    //display: flex;
    padding: 10px;

    border-radius: 6px;
    background: var(--color-cod-gray);
    row-gap: 4px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
}

.tokens_popup_list_element {
    height: 37.5px;
	width: 50px;
	margin: auto;
    border-radius: 6px;
}

.tokens_popup_list_element:hover {
    background-color: #383737;
    box-shadow: 0px 0px 5px 0px #383737;
    -webkit-box-shadow: 0px 0px 5px 0px #383737;
    -moz-box-shadow: 0px 0px 5px 0px #383737;
    cursor: pointer;
}