@use '@/shared/styles/mixins/scrollbars.scss';
@use '@/shared/styles/mixins/breakpoints.scss';
@use '@/shared/styles/mixins/blur.scss';

._ {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    overflow: hidden;
    width: min(100%, 420px);
    height: calc(100% - 40px);
    flex-direction: column;
    padding: 24px;
    border-radius: 12px;
    background: var(--color-cod-gray);
    transition: .3s ease;
}

.overlay {
    position: relative;
    z-index: 20;
    overflow: hidden !important;
    padding: 20px;
    transition: opacity .3s ease;
    @include blur.blur(0.2);
}

.header {
    display: flex;
    flex: none;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    margin-right: 14px;
}

.body {
    overflow: auto;
    flex-grow: 1;
    padding-right: 10px;

    @include scrollbars.brand-scrollbar;
}

.title {
    color: var(--color-alto);
    font-family: var(--font-tt-travels);
    font-size: 24px;
    font-weight: 500;
}

.list {
    list-style: none;
}

.item {
    position: relative;
    padding: 16px 0px 16px 0;

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        left: 60px;
        height: 1px;
        background: var(--color-mine-shaft);
        content: '';
    }

    &:last-child::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 60px;
        height: 1px;
        background: var(--color-mine-shaft);
        content: '';
    }
}

.user {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    padding: 16px 0;
    column-gap: 16px;

    &__assets {
        display: inline-flex;
        flex: none;
        align-items: center;
        justify-content: center;
    }

    &__meta {
        display: inline-flex;
        min-width: 0;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
    }

    &__name {
        color: var(--color-dusty-gray);
        font-family: var(--font-tt-travels);
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
    }

    &__status {
        color: var(--color-dove-gray);
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
    }

    &__extra {
        flex: none;
    }

    &__avatar {
        font-size: 44px;
    }
}

@include breakpoints.max-width-sm {
    .overlay {
        padding: 0;
    }

    ._ {
        top: 0;
        right: 0;
        height: 100%;
        border-radius: 0;
    }
}