@use '@/shared/styles/mixins/breakpoints.scss';

._ {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0;
}

.scene {
    position: relative;
    flex-grow: 1;
}

.grid {
    position: relative;
    width: min(100%, 1000px);
    min-height: 340px;
    flex-grow: 1;
    margin: 0 auto;

    &__cell {
        position: absolute;
        z-index: 1;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        transition: .3s ease;

        &:first-child {
            right: 0;
            opacity: 0;
            transform: scale(0.5);
        }

        &:last-child {
            left: 0;
        }
    }

    &__divider {
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--color-alto);
        font-size: 64px;
        opacity: 0;
        transform: translate(-50%, -50%) rotate(135deg);
        transform-origin: center center;
        transition: .3s ease;
    }

    &_active &__cell {
        width: 50%;
        opacity: 1;
        transform: scale(1);
    }

    &_active &__divider {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0);
    }
}

.extra {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin-top: 16px;
    column-gap: 16px;
}

.submit {
    width: min(100%, 280px);
}

.avatar {
    font-size: 152px;
}

@include breakpoints.max-width-2xl {
    .avatar {
        font-size: 120px;
    }
}

@include breakpoints.max-width-md {
    .avatar {
        font-size: 72px;
    }

    .submit {
        width: 100%;
    }

    .grid {

        &__divider {
            font-size: 24px;
        }
    }
}