@use '@/shared/styles/mixins/blur.scss';
@use '@/shared/styles/mixins/breakpoints.scss';

._ {
    max-width: 1400px;
    margin: 0 auto;

    & :global(.react-modal-sheet-container) {
        border: 1px solid var(--color-emperor) !important;
        background-color: var(--color-log-cabin) !important;
    }

    & :global(.react-modal-sheet-content) {
        display: flex;
        overflow: hidden !important;
        flex-direction: column;
        padding: 32px 40px;
    }
}

.container {
    left: 50%;
    max-width: 1248px;
    margin: 0 auto;
    transform: translateX(-50%);
}

.header {
    display: flex;
    justify-content: space-between;

    &__meta {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__extra {
        margin-left: 16px;
    }

    &__close {
        display: inline-flex;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        color: var(--color-alto);
        cursor: pointer;
        font-size: 24px;
        transition: .3s ease;

        &:hover {
            background: var(--color-emperor);
        }
    }
}

.body {
    display: flex;
    overflow: hidden;
    flex-grow: 1;
}

.backdrop {
    @include blur.blur();
}

@include breakpoints.max-width-2xl {
    ._ {
        max-width: 1200px;
    }
}

@include breakpoints.max-width-xl {
    ._ {
        width: calc(100% - 40px);

        & :global(.react-modal-sheet-content) {
            padding: 24px 32px 16px;
        }
    }
}

@include breakpoints.max-width-md {
    ._ {
        width: 100%;

        & :global(.react-modal-sheet-content) {
            padding: 16px 20px;
        }
    }
}