.wrapper {
  position: absolute;
  width: 1328px;
  height: 397px;
  top: 131px;
  left: 296px;
  padding: 0px;
  
}
.show {
  box-sizing: border-box;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 10px;
  gap: 8px;

  position: absolute;
  width: 157px;
  height: 43px;
  right: 0px;
  top: 6px;

  /* Dark/16% */
  border: 1px solid #292929;
  border-radius: 4px;
  &:hover {
    background: #3D3D3D;
    transition: background-color 0.6s;
  }

  &__text {
    color:#666666;
    width: 93px;
    height: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }
}

.text {
  font-size: 40px;
  font-weight:400;
  color: #DBDBDB;
}

.group {
  position: absolute;
  display: flex;
  width: 1328px;
  height: 318px;
  left: 0px;
  top: 79px;

  &__section1 {
    width:646px;
    height:318px;
    top:79px;
    border-radius: 16px;
    gap: 8px;
    background: radial-gradient(103.51% 562.52% at 98.99% 100%, #A0FF55 0%, rgba(36, 69, 9, 0.33) 100%);
    
    &__users {
      box-sizing: border-box;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 16px;
      gap: 6px;

      position: absolute;
      width: 164px;
      height: 37px;
      left: 50px;
      bottom: 40px;

      background: rgba(26, 26, 26, 0.3);
      border: 1px solid #525252;
      backdrop-filter: blur(8px);
      border-radius: 7px;
      }

      &__text {
        width: 117px;
        height: 17px;
        font-family: 'TT Travels';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 115%;
        color: #DBDBDB;
      }
      &__cont {
        width: 9px;
        height: 12px;
        top:12.5px;
        left:16px;

        &__icon {
          position: absolute;
          width: 9px;
          height: 10px;
          top:13px;
          left: 25px;
        }  
      }
    &__background {
      position: absolute;
      width: 272px;
      height: 302px;
      left: 376px;
      bottom: 0px; 
      background: url(../../shared/media/homePageCoin.png);
    }
  }

  &__section2 {
    box-sizing: border-box;

    position: absolute;
    width: 646px;
    height: 318px;
    left: 682px;
    top: 0px;

    background: radial-gradient(103.51% 562.52% at 98.99% 100%, #FF5569 0%, rgba(69, 9, 16, 0.33) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 16px;

    &__background {
      position: absolute;
      width: 312px;
      height: 322px;
      left: 334px;
      bottom: 5px; 
      background: url(../../shared/media/homePageCrush.png);
    }

    &__shell {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 0px;
  
      position: absolute;
      width: 270px;
      height: 50px;
      left: 30px;
      top: 40px;
    } 

    &__name {
      width: 125px;
      height: 50px;
  
      font-family: 'TT Travels';
      font-style: normal;
    
      font-size: 36px;
      line-height: 138.4%;
      color: #EFEFEF;  
    }
  
    &__array {
      width: 20px;
      height: 14px;
      top: 23px;
      left: 250px;
    
    }
  }

  &__shell {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 0px;

    position: absolute;
    width: 270px;
    height: 50px;
    left: 24px;
    top: 40px;
  } 

  &__about {
    position: absolute;
    width: 282px;
    height: 50px;
    left: 50px;
    top: 98px;
    text-align: start;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    /* Light/86% */

    color: #DBDBDB;
  }

  &__name {
    width: 238px;
    height: 50px;

    font-family: 'TT Travels';
    font-style: normal;
  
    font-size: 36px;
    line-height: 138.4%;
    color: #EFEFEF;  
  }

  &__array {
    width: 20px;
    height: 14px;
    top: 23px;
    left: 250px;
  
  }

  &__img2 {
    width: 646px;
    height: 318px;
    left: 682px;
    top: 79px;
    margin-left:36px;
  }
}

.market {
  position: absolute;
  width: 1328px;
  height: 381px;  
  top: 576px;
  margin-top: -100px;

}

.nfts {
  position: absolute;
  width: 1328px;
  height: 302px;
  left: 0px;
  top: 79px;
  display: flex;
  column-gap: 64px;
  &__img1 {
    position: absolute;
    width: 208px;
    height: 208px;
    border-radius: 6px;
    background: url(../../shared/media/nft1.png);
    left: calc(50% - 208px/2);
    top: calc(50% - 258px/2);
    }
  &__img2 {
    position: absolute;
    width: 208px;
    height: 208px;
    border-radius: 6px;
    background: url(../../shared/media/nft2.png);
    left: calc(50% - 208px/2);
    top: calc(50% - 258px/2);
  }
  &__img3 {
    position: absolute;
    width: 208px;
    height: 208px;
    border-radius: 6px;
    background: url(../../shared/media/nft3.png);
    left: calc(50% - 208px/2);
    top: calc(50% - 258px/2);
    }
  &__img4 {
    position: absolute;
    width: 208px;
    height: 208px;
    border-radius: 6px;
    background: url(../../shared/media/nft4.png);
    left: calc(50% - 208px/2);
    top: calc(50% - 258px/2);
    }
  &__img5 {
    position: absolute;
    width: 208px;
    height: 208px;
    border-radius: 6px;
    background: url(../../shared/media/nft5.png);
    left: calc(50% - 208px/2);
    top: calc(50% - 258px/2);
    }
}

.nftCard1 {
  box-sizing: border-box;

  position: absolute;
  width: 240px;
  height: 302px;
  border: 2px solid #141414;
  border-radius: 8px;
  left: calc(50% - 240px/2 - 544px);
  top: calc(50% - 332px/2 );

  &:hover {
    background: #141414;
    transition: background-color 0.6s;
  }

}

.nftCard2 {
  box-sizing: border-box;

  position: absolute;
  width: 240px;
  height: 302px;
  border: 2px solid #141414;
  border-radius: 8px;
  left: calc(50% - 240px/2 - 272px);
  top: calc(50% - 332px/2);

  &:hover {
    background: #141414;
    transition: background-color 0.6s;
  }
}
.nftCard3 {
  box-sizing: border-box;

  position: absolute;
  width: 240px;
  height: 302px;
  border: 2px solid #141414;
  border-radius: 8px;
  left: calc(50% - 240px/2);
  top: calc(50% - 332px/2);

  &:hover {
    background: #141414;
    transition: background-color 0.6s;
  }
}

.nftCard4 {
  box-sizing: border-box;

  position: absolute;
  width: 240px;
  height: 302px;
  border: 2px solid #141414;
  border-radius: 8px;
  left: calc(50% - 240px/2 + 272px);
  top: calc(50% - 332px/2);

  &:hover {
    background: #141414;
    transition: background-color 0.6s;
  }
}

.nftCard5 {
  box-sizing: border-box;

  position: absolute;
  width: 240px;
  height: 302px;
  border: 2px solid #141414;
  border-radius: 8px;
  left: calc(50% - 240px/2 + 544px);
  top: calc(50% - 332px/2);

  &:hover {
    background: #141414;
    transition: background-color 0.6s;
  }
}

.more {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 200px;
  top: 265px;

  border-radius: 5px;

  &:hover {
    background-color: #292929;
  }
  &:active {
    background-color: #3D3D3D;
  }
}

.points {
  position: absolute;
  left: 19.79%;
  right: 19.79%;
  top: 44.79%;
  bottom: 44.79%;

  fill: #999999;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 208px;
  height: 23px;
  left: 16px;
  top: 240px;
}
.name {
  width: 129px;
  height: 23px;

  font-family: 'TT Travels';
  font-style: normal;
  font-size: 18px;
  line-height: 130%;
  color: #EFEFEF;
  overflow: hidden;
}

.id {
  width: 71px;
  height: 23px;
  font-family: 'TT Travels';
  font-style: normal;
  font-size: 18px;
  line-height: 130%;
  text-align: right;
  color: #EFEFEF;
}

.price {
  position: absolute;
  width: 59px;
  height: 34px;
  left: 16px;
  top: 269px;
  font-family: 'TT Travels';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 115%;
  color: #999999;
  white-space: nowrap;
}